<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="instance">
            <h2><span jhiTranslate="microlarpingApp.instance.detail.title">Instance</span> {{instance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="microlarpingApp.instance.game">Game</span></dt>
                <dd>
                    <div *ngIf="instance.game">
                        <a [routerLink]="['/game', instance.game?.id, 'view']">{{instance.game?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/instance', instance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
