<div>
    <h2 id="page-heading">
        <span jhiTranslate="microlarpingApp.organizer.home.title">Organizers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organizer" [routerLink]="['/organizer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="microlarpingApp.organizer.home.createLabel">
            Create a new Organizer
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="organizers?.length === 0">
        <span jhiTranslate="microlarpingApp.organizer.home.notFound">No organizers found</span>
    </div>
    <div class="table-responsive" *ngIf="organizers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="microlarpingApp.organizer.game">Game</span></th>
            <th scope="col" ><span jhiTranslate="microlarpingApp.organizer.instance">Instance</span></th>
            <th scope="col" ><span jhiTranslate="microlarpingApp.organizer.ruleset">Ruleset</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organizer of organizers ;trackBy: trackId">
                <td><a [routerLink]="['/organizer', organizer.id, 'view' ]">{{organizer.id}}</a></td>
                <td>
                    <span *ngFor="let game of organizer.games; let last = last">
                            <a class="form-control-static" [routerLink]="['/game', game?.id, 'view' ]">{{game.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let instance of organizer.instances; let last = last">
                            <a class="form-control-static" [routerLink]="['/instance', instance?.id, 'view' ]">{{instance.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let ruleset of organizer.rulesets; let last = last">
                            <a class="form-control-static" [routerLink]="['/ruleset', ruleset?.id, 'view' ]">{{ruleset.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/organizer', organizer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organizer', organizer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organizer', { outlets: { popup: organizer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
