<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ruleset">
            <h2><span jhiTranslate="microlarpingApp.ruleset.detail.title">Ruleset</span> {{ruleset.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="microlarpingApp.ruleset.game">Game</span></dt>
                <dd>
                    <span *ngFor="let game of ruleset.games; let last = last">
                        <a [routerLink]="['/game', game?.id, 'view' ]">{{game.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ruleset', ruleset.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
